@font-face {
  font-family: "MessinaSans Bold";
  src: url("./fonts/MessinaSans-Bold.woff2") format("woff2"),
    url("./fonts/MessinaSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans Regular";
  src: url("./fonts/MessinaSans-Regular.woff2") format("woff2"),
    url("./fonts/MessinaSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans Light";
  src: url("./fonts/MessinaSans-Light.woff2") format("woff2"),
    url("./fonts/MessinaSans-Light.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans LightItalic";
  src: url("./fonts/MessinaSans-LightItalic.woff2") format("woff2"),
    url("./fonts/MessinaSans-LightItalic.woff") format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border: 100px none #d0d0d0;
}

::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}

::-webkit-scrollbar-thumb:active {
  background: #d0d0d0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "MessinaSans Regular";
  color: #fff;
  background: #040404;
  overflow-x: hidden;
  width: 100%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: #040404;
  -webkit-user-select: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  --path: #fff;
  --dot: #ff80d5;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
  transform: scale(2.5);
}
.loader:before {
  transform: scale(2.5);
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
@-webkit-keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 16px;
}

.bar {
  width: 3px;
  height: 49px;
  position: absolute;
  top: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@keyframes grain {
  0%,
  to {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  font-size: 1rem;
  font-weight: 200;
  animation: fadeInDown 1.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .mobile {
  display: none;
}

.menu-mobile {
  display: none;
}

.navbar-scrolled {
  -webkit-box-shadow: 0px 6px 31px 6px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 6px 31px 6px rgba(0, 0, 0, 0.14);
  background-color: #040404bb;
  transition: all 0.5s ease-in-out;
}

.navbar-hover {
  background-color: transparent !important;
  transition: all 0.5s ease-in-out;
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  transform: scale(1);
}

nav ul li {
  -webkit-user-select: none;
  cursor: pointer;
}

nav .mid li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .mid li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  margin-top: 5px;
  transition: width 0.3s ease-in-out;
}

nav .mid li a:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

nav ul li:active {
  transform: scale(0.9);
}

nav .mid {
  gap: 50px;
}

nav .left {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .left li {
  height: 50px;
  padding-top: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .left img {
  height: 35px;
}

nav .right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .right li {
  border-radius: 5px;
  padding: 5px 15px;
  padding-bottom: 8px;
  /* border: solid 2px #fff; */
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .right li img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 5%;
}

header::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #040404;
  background: linear-gradient(180deg, #00000000 0%, #040404 95%);
  z-index: 1;
}

header .content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .perspective-text {
  margin-left: 80px;
  position: relative;
  z-index: 2;
  font-family: Arial;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 2px #212121;
  transform: scale(1.9);
}

header .perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

header #blobCloud {
  -webkit-user-select: none;
  position: absolute;
  right: 1vw;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tags-cloud {
  top: calc(50% - 30vmin);
  left: calc(50% - 30vmin);
  height: 60vmin;
  width: 60vmin;
  list-style: none;
  opacity: 0;
}

.tags-cloud.-loaded {
  -webkit-animation: fadeIn 1s ease-out forwards;
  animation: fadeIn 1s ease-out forwards;
}

.tags-cloud > .tag {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5vmin;
  font-weight: bold;
  transition: transform 0.5s linear, opacity 0.5s linear;
}

.tags-cloud > .tag > .wrap {
  display: inline-block;
  transform: translateX(-50%) translateY(-50%);
}

header .header-text {
  position: relative;
  width: 100%;
}

header .header-text h1 {
  position: relative;
  margin: 0;
  font-size: 6vw;
  overflow: hidden;
}

header .header-text h2 {
  margin: 0;
  font-size: 4vw;
  transform: translate(5%, -2.5vw);
  color: #ffffff3b;
}

header .header-text h3 {
  margin: 0;
  font-size: 2vw;
  transform: translate(7px, -4vw);
}

header .header-text #blobCloud {
  position: absolute;
  top: 7vw;
  right: 5%;
}

.ath {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
  padding-top: 132px;
  padding-bottom: 15px;
}

.ath .container-text {
  -webkit-user-select: none;
  transform: rotate(90deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.ath .container-trait {
  transform: rotate(90deg);
}

.ath .trait {
  width: 200px;
  height: 4px;
  background: #d0d0d0;
  animation: fadeIn 1s ease-in-out;
}

.rolling-text {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  letter-spacing: 24px;
  height: 100px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  background-color: #0000;
  border: none;
  cursor: pointer;
}

.rolling-text:hover .letter,
.rolling-text.play .letter {
  transform: translateY(-600%);
}

.rolling-text .block:last-child {
  color: #ffffff3b;
}

.rolling-text .letter {
  display: flex;
  justify-content: center;
  text-align: center;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.015s;
}

.letter:nth-child(3) {
  transition-delay: 0.03s;
}

.letter:nth-child(4) {
  transition-delay: 0.045s;
}

.letter:nth-child(5) {
  transition-delay: 0.06s;
}

.letter:nth-child(6) {
  transition-delay: 0.075s;
}

.letter:nth-child(7) {
  transition-delay: 0.09s;
}

.letter:nth-child(8) {
  transition-delay: 0.105s;
}

.letter:nth-child(9) {
  transition-delay: 0.12s;
}

.letter:nth-child(10) {
  transition-delay: 0.135s;
}

.letter:nth-child(11) {
  transition-delay: 0.15s;
}

.letter:nth-child(12) {
  transition-delay: 0.165s;
}

.letter:nth-child(13) {
  transition-delay: 0.18s;
}

.letter:nth-child(14) {
  transition-delay: 0.195s;
}

.letter:nth-child(15) {
  transition-delay: 0.21s;
}

.letter:nth-child(16) {
  transition-delay: 0.225s;
}

.letter:nth-child(17) {
  transition-delay: 0.24s;
}

.letter:nth-child(18) {
  transition-delay: 0.255s;
}

.letter:nth-child(19) {
  transition-delay: 0.27s;
}

.letter:nth-child(20) {
  transition-delay: 0.285s;
}

.letter:nth-child(21) {
  transition-delay: 0.3s;
}

.reseaux {
  position: fixed;
  bottom: 0;
  left: 0;
}

.reseaux ul {
  list-style: none;
  padding: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.reseaux ul li {
  cursor: pointer;
}

.reseaux ul li:active {
  transform: scale(0.9);
}

.reseaux ul svg {
  width: 25px;
  height: 25px;
}

.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 5%;
}

.demo-wrapper {
  overflow: hidden;
}

.wrapper {
  display: flex;
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-gallery .wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
  white-space: nowrap;
}

.about {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  margin-top: 5%;
}

.about .about-header {
  position: relative;
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.about .about-header h2 {
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-size: calc(5vw + 1rem);
  margin: 0;
}

.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 5%;
}

.about .content .img {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .content .img .nom-section h2:hover {
  color: white;
  transition: color 0.5s ease-in-out;
}

.about .content .img img {
  -webkit-user-select: none;
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

.about .content .text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10%;
}

.about .content .text p {
  font-size: calc(0.85svw + 0.1rem);
  line-height: 1.5;
  text-align: justify;
  text-justify: newspaper;
}

.competences {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  margin-bottom: 5%;
}

.competences .competences-header {
  position: relative;
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.competences .competences-header h2 {
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-size: calc(5vw + 1rem);
  margin: 0;
}

.competences .competences-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 5%;
}

.competences .competences-card .objet-container {
  position: relative;
  width: 20%;
  height: 6.5vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.competences .competences-card .objet-container .circle {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border: #fff 3px solid;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.competences .competences-card .objet-container .circle-inner {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-color: #fff;
  border: #fff 5px solid;
  transition-property: height width;
  transition: 0.5s ease-in-out;
}

.competences
  .competences-card
  li[data-competence="1"]:hover
  .objet-container
  .circle
  .circle-inner {
  width: 0vw;
  height: 0vw;
  transition-property: height width;
  transition: 0.5s ease-in-out;
}

.competences .competences-card .objet-container .circle-point {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #fff;
  border: #fff 5px solid;
  transition-property: height width;
  transition: 0.5s ease-in-out;
}

.competences
  .competences-card
  li[data-competence="3"]:hover
  .objet-container
  .circle
  .circle-point {
  width: 0.5vw;
  height: 0.5vw;
  transform: translate(230%, -230%);
  transition-property: height width;
  transition: 0.5s ease-in-out;
}

.competences
  .competences-card
  li[data-competence="3"]:hover
  .objet-container
  .circle {
  transform: translate(-25%, 25%);
  transition-property: height width;
  transition: 0.5s ease-in-out;
}

.competences .competences-card ul {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px 10%;
  list-style: none;
}

.competences .competences-card li {
  position: relative;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-size: calc(1.5vw + 0.1rem);
}

.competences .competences-card h3 {
  margin: 0;
}

.competences .competences-card p {
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TEXT ANIM */
.hide {
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

#container-scroll {
  --target: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container-scroll {
  width: 100%;
  height: 100vh;
}

#container-scroll .stretch-text {
  position: fixed;
  height: auto;
  z-index: 2;
  transform: scale(0.1);
  --color-one: #1980e6;
  --color-two: #ff80d5;
  --stretch-multiplier: 2;
  font-size: clamp(8rem, 10vw, 10rem);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  display: grid;
  line-height: 1;
}

#container-scroll .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#container-scroll [aria-hidden] {
  display: flex;
  gap: 0.02ch;
  align-items: center;
  color: #ffffff;
}

#container-scroll .stretch-o {
  height: 1.42ch;
  width: calc(var(--stretch) * 1.35ch);
  translate: 0 -0ch;
  border: 0.25ch solid white;
  border-radius: 1ch;
  transition: width 0.2s;
  position: relative;
}

#container-scroll .stretch-text {
  --stretch: 1;
}

#container-scroll:hover .stretch-text {
  --stretch: var(--stretch-multiplier);
}

#container-scroll .stretch-o:after,
#container-scroll .stretch-o:before {
  content: "";
  border: 0.25ch solid var(--color);
  position: absolute;
  inset: -0.24ch;
  border-radius: 1ch;
  opacity: calc(-1 + var(--stretch));
  transition: opacity 0.2s;
}

#container-scroll .stretch-o:before {
  --color: var(--color-one);
}

#container-scroll .stretch-o:after {
  --color: var(--color-two);
  mask: radial-gradient(circle at top left, black, transparent);
}

.projets-mobile {
  display: none;
}

.projets-container {
  width: 400%;
  height: 25vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
  margin-bottom: 10%;
}

.projets-container .projet {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projets-container .projet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(0.1px);
}

.projets-container .projet h2 {
  -webkit-user-select: none;
  position: absolute;
  bottom: 5%;
  left: 0;
  margin: 0;
  transform: translate(-15%, 0px);
  font-size: calc(2rem + 3vw);
  text-shadow: #000 0px 0px 10px;
}

.projets-container .projet:nth-child(1) {
  margin-left: 3%;
}

#afficheProjet {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding: 50px 50px;
  padding-top: 75px;
  overflow-y: auto;
}

#afficheProjet #closeAfficheProjet {
  background-color: transparent;
  color: white;
  text-shadow: #000 0px 0px 10px;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 0;
  transition: all 0.3s ease;
}

#afficheProjet #closeAfficheProjet svg {
  fill: #fff;
  stroke: #000 !important;
  transition: all 0.3s ease;
}

#afficheProjet #closeAfficheProjet:hover {
  color: #aaaaaa;
  transition: all 0.3s ease;
}

#afficheProjet #closeAfficheProjet:hover svg {
  fill: #aaaaaa;
  transition: all 0.3s ease;
}

#afficheProjet .affiche-projet-containers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  margin-top: 50px;
}

#afficheProjet .affiche-projet-containers .affiche-projet-left img {
  width: 50vw;
  object-fit: cover;
}

#afficheProjet .affiche-projet-containers .affiche-projet-right {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

#afficheProjet .affiche-projet-containers .affiche-projet-right h2 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

#afficheProjet .affiche-projet-containers .affiche-projet-right p {
  line-height: 1.5;
  font-size: calc(1rem + 0.1vw);
}

#afficheProjet
  .affiche-projet-containers
  .affiche-projet-right
  .affiche-projet-lien {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

#afficheProjet
  .affiche-projet-containers
  .affiche-projet-right
  .affiche-projet-lien
  a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  transform: scale(1);
  transition: all 0.3s ease;
}

#afficheProjet
  .affiche-projet-containers
  .affiche-projet-right
  .affiche-projet-lien
  a
  img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
}

#afficheProjet
  .affiche-projet-containers
  .affiche-projet-right
  .affiche-projet-lien
  a:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.mentions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 50px;
}

.mentions p, .mentions ul {
  max-width: 450px;
  line-height: 1.5;
}

.mentions a {
  width: fit-content;
}

.erreur {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.erreur-container {
  text-align: left;
}

.erreur h1 {
  font-size: calc(2rem + 3vw);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.erreur p {
  font-size: calc(1rem + 0.5vw);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.erreur a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

footer .footer-top {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background-color: #040404;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#040404),
      color-stop(67%, hsla(0, 0%, 100%, 0))
    ),
    url(../assets/images/footer-banner.webp);
  background-image: linear-gradient(180deg, #040404, hsla(0, 0%, 100%, 0) 67%),
    url(../assets/images/footer-banner.webp);
  background-position: 0px 0px, 50% 75%;
  filter: grayscale(50%);
  background-size: auto, cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2vw;
  padding: 0 50px 2vw 50px;
}

footer .footer-top::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #040404;
  background: linear-gradient(180deg, #00000000 5%, #040404 100%);
  pointer-events: none;
}

footer .footer-top p {
  font-size: calc(1.1rem + 0.5vw);
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

footer .footer-top a {
  background: #fff;
  border: solid 1px #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

footer .footer-top a:hover {
  background-color: transparent;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

footer .footer-top a:active {
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

footer .footer-bottom {
  position: relative;
  height: 300px;
  width: 100%;
  background: #040404;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5vw;
  font-size: calc(1rem + 0.2vw);
  overflow: hidden;
}

footer .footer-bottom .container-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

footer .footer-bottom .container-footer h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

/* faire une bar en dessous des a quand on passe la souris */

footer .footer-bottom .container-footer a {
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-bottom .container-footer a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  margin-top: 5px;
  transition: width 0.3s ease-in-out;
}

footer .footer-bottom .container-footer a:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

footer .footer-bottom img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
}

footer .footer-bottom .left {
  width: 100%;
  height: 100%;
  background: #040404;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

footer .footer-bottom .mid {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

footer .footer-bottom .right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

footer .footer-bottom .right button {
  cursor: pointer;
  background: #fff;
  border: solid 1px #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

footer .footer-bottom .right button:hover {
  background-color: transparent;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

footer .footer-bottom .right button:active {
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

.link-hidden {
  display: none !important;
}

.link {
  z-index: 50;
  position: fixed;
  -webkit-user-select: none;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  font: 300 1.55rem/1.4 "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  pointer-events: none;
}

.link__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.link__cloud {
  transform-origin: 50% 50%;
  -webkit-animation: rotate normal infinite 60s linear;
  animation: rotate normal infinite 60s linear;
  fill: #fff;
}
.link__face,
.link__arrow {
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.link:hover .link__face,
.link:hover .link__arrow {
  transform: scale(1.1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.link__arrow {
  stroke-width: 0.075em;
}
.link__text {
  -webkit-animation: rotateReverse normal infinite 20s linear;
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}
.link--alt:hover .link__text {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.link--alt {
  font-size: 1.15rem;
  letter-spacing: 0;
  word-spacing: 0;
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 1200px) {
  html {
    overflow-x: hidden;
  }
  #afficheProjet .affiche-projet-containers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 50px;
  }
  #afficheProjet .affiche-projet-containers .affiche-projet-left {
    width: 100%;
  }
  #afficheProjet .affiche-projet-containers .affiche-projet-left img {
    width: 100%;
  }
  #afficheProjet .affiche-projet-containers .affiche-projet-right {
    width: 100%;
  }
  #afficheProjet .affiche-projet-containers .affiche-projet-right h2 {
    margin: 0;
    font-size: calc(2.5rem + 1vw);
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  #afficheProjet .affiche-projet-containers .affiche-projet-right p {
    max-width: 700px;
    text-align: justify;
  }
}
@media screen and (max-width: 950px) {
  .link {
    display: none;
  }
  .projets-container {
    display: none;
  }
  #container-scroll {
    display: none;
  }
  .about .about-header h2 {
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-size: calc(4vw + 2rem);
    margin: 0;
  }
  .competences .competences-header h2 {
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-size: calc(4vw + 2rem);
    margin: 0;
  }
  .projets-mobile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    margin-bottom: 5%;
  }
  .projets-mobile .projets-header {
    position: relative;
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projets-mobile .projets-header h2 {
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-size: calc(4vw + 2rem);
    margin: 0;
    text-transform: uppercase;
  }
  .projets-mobile .projets {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 25px;
  }
  .projets-mobile .projets li {
    cursor: pointer;
    position: relative;
  }
  .projets-mobile .projets li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: blur(0.2px);
  }

  .projets-mobile .projets li h2 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    margin: 0;
    font-size: calc(5vw + 1rem);
    text-shadow: 0 0 5px #000;
  }
}

@media screen and (max-width: 880px) {
  header .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  header .header-text {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  header .header-text h1 {
    position: relative;
    margin: 0;
    font-size: calc(7vw + 1.5vh);
    overflow: hidden;
  }
  header .header-text h2 {
    margin: 0;
    font-size: calc(6.5vw + 1.5vh);
    transform: translate(0, 1.5vw);
    color: #ffffff3b;
  }
  header .header-text h3 {
    margin: 0;
    font-size: calc(2.5vw + 1.5vh);
    transform: translate(0, 2vw);
  }
  header #blobCloud {
    transform: translate(-4vw, -10vw);
    margin-top: 10vh;
    position: initial;
    opacity: 0.50;
    filter: blur(0.5px);
  }
  header video {
    display: none;
  }
  .about .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 5%;
    gap: 40px;
  }
  .about .content .img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .content .img img {
    -webkit-user-select: none;
    width: 90vw;
    height: 90vw;
    object-fit: cover;
  }
  .about .content .text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 0;
  }
  .about .content .text p {
    width: 90vw;
    margin: 0;
    font-size: calc(1vw + 0.6rem);
    line-height: 1.5;
    text-align: justify;
    text-justify: newspaper;
  }
  .competences {
    margin-top: 10%;
  }
  .competences .competences-card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 5%;
  }
  .competences .competences-card ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px 10%;
    list-style: none;
  }
  .competences .competences-card li {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: calc(2vw + 0.38rem);
  }
  .competences .competences-card .objet-container {
    position: relative;
    width: 20%;
    height: 6.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .competences .competences-card .objet-container .circle {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: #fff 3px solid;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .competences .competences-card .objet-container .circle-inner {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: #fff;
    border: #fff 5px solid;
    -o-transition-property: height width;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 750px) {
  .ath {
    display: none;
  }
  nav .mobile {
    display: flex;
    width: 90px;
    height: 90px;
    transform: translate(28%, 0);
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
  }
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
  .menu-active {
    display: flex !important;
  }
  .menu-mobile {
    width: 100%;
    height: 100%;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: calc(2vw + 2rem);
    gap: 50px;
    padding: 0 5%;
    opacity: 0;
  }
  .menu-mobile ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    padding: 0;
  }
  .menu-mobile ul a {
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.25s;
    text-transform: uppercase;
  }
  .menu-mobile ul a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 5px;
    transition: width 0.3s ease-in-out;
  }
  .menu-mobile .menu-mobile-reseaux {
    width: 100%;
    margin-top: 15%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .menu-mobile .menu-mobile-reseaux a::after {
    content: "";
    display: none;
  }
  .menu-mobile .menu-mobile-reseaux a img {
    width: 50px;
    height: 50px;
  }

  .link {
    display: none;
  }

  nav .mid {
    display: none;
  }

  nav .right {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .about .content .img img {
    user-select: none;
    width: 100%;
    object-fit: cover;
  }
  .about .content .text p {
    width: 100%;
    margin: 0px;
    font-size: calc(1vw + 0.8rem);
    line-height: 1.5;
    text-align: left;
  }
  .competences .competences-card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0%;
  }
}

@media screen and (max-width: 680px) {
  .loader-container {
    font-size: calc(1vw + 1.3rem);
    width: 100vw;
    height: 5vw;
  }
}

@media screen and (max-width: 580px) {
  footer .footer-bottom {
    position: relative;
    height: fit-content;
    width: 100%;
    background: #040404;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 5vw;
    font-size: calc(1rem + 0.2vw);
    gap: 30px 0;
  }
  footer .footer-bottom .container-footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-bottom .left {
    width: 45%;
    height: 100%;
    background: #040404;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  footer .footer-bottom .mid {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}

@media screen and (max-width: 465px) {
  #afficheProjet {
    padding: 50px 15px;
  }
  #afficheProjet .affiche-projet-containers .affiche-projet-right .affiche-projet-lien {
    width: 100%;
    flex-direction: column;
  }
  #afficheProjet .affiche-projet-containers .affiche-projet-right .affiche-projet-lien a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  footer .footer-top {
    padding: 0 50px 1.5vw 50px;
  }
  footer .footer-top p {
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
  footer .footer-top a {
    background: #fff;
    border: solid 1px #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #000;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
}
@media screen and (max-width: 310px) {
  footer .footer-bottom {
    position: relative;
    height: fit-content;
    width: 100%;
    background: #040404;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px 5vw;
    font-size: calc(1rem + 0.2vw);
    gap: 50px 0;
  }
  footer .footer-bottom .container-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-bottom .left {
    width: 100%;
    height: 100%;
    background: #040404;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  footer .footer-bottom .mid {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}
