@font-face {
  font-family: "MessinaSans Bold";
  src: url("./fonts/MessinaSans-Bold.woff2") format("woff2"),
    url("./fonts/MessinaSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans Regular";
  src: url("./fonts/MessinaSans-Regular.woff2") format("woff2"),
    url("./fonts/MessinaSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans Light";
  src: url("./fonts/MessinaSans-Light.woff2") format("woff2"),
    url("./fonts/MessinaSans-Light.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans LightItalic";
  src: url("./fonts/MessinaSans-LightItalic.woff2") format("woff2"),
    url("./fonts/MessinaSans-LightItalic.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border: 100px none #d0d0d0;
}

::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}

::-webkit-scrollbar-thumb:active {
  background: #d0d0d0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin-top: 0;
  margin: 0;
  font-family: "MessinaSans Regular";
  color: #fff;
  background: #040404;
  overflow-x: hidden;
  width: 100%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: #040404;
  -webkit-user-select: none;
  border: none;
}

.loader-container {
  font-size: 40px;
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: 1.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 40px;
}

.loader-container * {
  display: inline-block;
  overflow: hidden;
  position: absolute;
}

.bar {
  width: 3px;
  height: 49px;
  position: absolute;
  top: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@keyframes grain {
  0%,
  to {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  font-size: 1.1rem;
  font-weight: 200;
  animation: fadeInDown 1.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-scrolled {
  -webkit-box-shadow: 0px 6px 31px 6px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 6px 31px 6px rgba(0, 0, 0, 0.14);
  background-color: #20202041;
  transition: all 0.5s ease-in-out;
}

.navbar-hover {
  background-color: transparent !important;
  transition: all 0.5s ease-in-out;
}

nav ul {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  transform: scale(1);
}

nav ul li {
  -webkit-user-select: none;
  cursor: pointer;
}

nav .mid li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}

nav ul li:active {
  transform: scale(0.9);
}

nav .mid {
  gap: 50px;
}

nav .left {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .left li {
  height: 50px;
  padding-top: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .left img {
  height: 35px;
}

nav .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .right li {
  border-radius: 5px;
  padding: 5px 15px;
  padding-bottom: 8px;
  /* border: solid 2px #fff; */
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .right li img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.nav-hover {
  display: none;
  opacity: 0.9;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: fadeNavHover 0.5s ease-in-out;
}

@keyframes fadeNavHover {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.active-hover {
  display: block;
}

.nav-hover #hover-text {
  position: fixed;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  color: white;
  font-size: 20vw;
  letter-spacing: 0.15em;
  opacity: 0.8;
  font-style: italic;
  word-wrap: nowrap;
}

.nav-hover img {
  width: 100%;
  height: 100vh;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 5%;
}

header .content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .perspective-text {
  margin-left: 80px;
  position: relative;
  z-index: 2;
  font-family: Arial;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 2px #212121;
  transform: scale(1.9);
}

header .perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

header #blobCloud {
  position: absolute;
  right: 1vw;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tags-cloud {
  top: calc(50% - 30vmin);
  left: calc(50% - 30vmin);
  height: 60vmin;
  width: 60vmin;
  list-style: none;
  opacity: 0;
}

.tags-cloud.-loaded {
  -webkit-animation: fadeIn 1s ease-out forwards;
  animation: fadeIn 1s ease-out forwards;
}

.tags-cloud > .tag {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5vmin;
  font-weight: bold;
  transition: transform 0.5s linear, opacity 0.5s linear;
}

.tags-cloud > .tag > .wrap {
  display: inline-block;
  transform: translateX(-50%) translateY(-50%);
}

header .header-text {
  position: relative;
  width: 100%;
  transform: translate(0, -4vw);
}

header .header-text h1 {
  position: relative;
  margin: 0;
  font-size: 6vw;
  word-wrap: wrap;
  overflow: hidden;
}

header .header-text h2 {
  margin: 0;
  font-size: 4vw;
  transform: translate(5%, 9vw);
  color: #ffffff3b;
}

header .header-text h3 {
  margin: 0;
  font-size: 2vw;
  transform: translate(7px, 0vw);
}

header .header-text #blobCloud {
  position: absolute;
  top: 7vw;
  right: 5%;
}

.ath {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
  padding-top: 132px;
  padding-bottom: 15px;
}

.ath .container-text {
  -webkit-user-select: none;
  transform: rotate(90deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.ath .container-trait {
  transform: rotate(90deg);
}

.ath .trait {
  width: 200px;
  height: 4px;
  background: #d0d0d0;
  animation: fadeIn 1s ease-in-out;
}

.rolling-text {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  letter-spacing: 24px;
  height: 100px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  background-color: #0000;
  border: none;
  cursor: pointer;
}

.rolling-text:hover .letter,
.rolling-text.play .letter {
  transform: translateY(-600%);
}

.rolling-text .block:last-child {
  color: #ffffff3b;
}

.rolling-text .letter {
  display: flex;
  justify-content: center;
  text-align: center;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.015s;
}

.letter:nth-child(3) {
  transition-delay: 0.03s;
}

.letter:nth-child(4) {
  transition-delay: 0.045s;
}

.letter:nth-child(5) {
  transition-delay: 0.06s;
}

.letter:nth-child(6) {
  transition-delay: 0.075s;
}

.letter:nth-child(7) {
  transition-delay: 0.09s;
}

.letter:nth-child(8) {
  transition-delay: 0.105s;
}

.letter:nth-child(9) {
  transition-delay: 0.12s;
}

.letter:nth-child(10) {
  transition-delay: 0.135s;
}

.letter:nth-child(11) {
  transition-delay: 0.15s;
}

.letter:nth-child(12) {
  transition-delay: 0.165s;
}

.letter:nth-child(13) {
  transition-delay: 0.18s;
}

.letter:nth-child(14) {
  transition-delay: 0.195s;
}

.letter:nth-child(15) {
  transition-delay: 0.21s;
}

.letter:nth-child(16) {
  transition-delay: 0.225s;
}

.letter:nth-child(17) {
  transition-delay: 0.24s;
}

.letter:nth-child(18) {
  transition-delay: 0.255s;
}

.letter:nth-child(19) {
  transition-delay: 0.27s;
}

.letter:nth-child(20) {
  transition-delay: 0.285s;
}

.letter:nth-child(21) {
  transition-delay: 0.3s;
}

.reseaux {
  position: fixed;
  bottom: 0;
  left: 0;
}

.reseaux ul {
  list-style: none;
  padding: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.reseaux ul li {
  cursor: pointer;
}

.reseaux ul li:active {
  transform: scale(0.9);
}

.reseaux ul svg {
  width: 25px;
  height: 25px;
}

.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 5%;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
}

main img {
  width: 200px;
  height: auto;
}

main ul {
  padding-left: 1rem;
  list-style: none;
}

main li {
  flex-shrink: 0;
  padding-right: 1rem;
}

.demo-wrapper {
  overflow: hidden;
}

.wrapper {
  display: flex;
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-gallery .wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
  white-space: nowrap;
}

.slider_work {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 5%;
}

.slider_work iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TEXT ANIM */
.hide {
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

#container-scroll {
  --target: 100%;
  width: 1000%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bottom-container-scroll {
  width: 100%;
  height: 100vh;
}

#container-scroll .stretch-text {
  position: fixed;
  height: auto;
  z-index: 2;
  transform: scale(0.1);
  --color-one: #1980e6;
  --color-two: #ff80d5;
  --stretch-multiplier: 2;
  font-size: clamp(2rem, 14vmin, 8rem);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  display: grid;
  line-height: 1;
}

#container-scroll .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#container-scroll [aria-hidden] {
  display: flex;
  gap: 0.02ch;
  align-items: center;
  color: #ffffff;
}

#container-scroll .stretch-o {
  height: 1.42ch;
  width: calc(var(--stretch) * 1.35ch);
  translate: 0 -0ch;
  border: 0.25ch solid white;
  border-radius: 1ch;
  transition: width 0.2s;
  position: relative;
}

#container-scroll .stretch-text {
  --stretch: 1;
}

#container-scroll:hover .stretch-text {
  --stretch: var(--stretch-multiplier);
}

#container-scroll .stretch-o:after,
#container-scroll .stretch-o:before {
  content: "";
  border: 0.25ch solid var(--color);
  position: absolute;
  inset: -0.24ch;
  border-radius: 1ch;
  opacity: calc(-1 + var(--stretch));
  transition: opacity 0.2s;
}

#container-scroll .stretch-o:before {
  --color: var(--color-one);
}

#container-scroll .stretch-o:after {
  --color: var(--color-two);
  mask: radial-gradient(circle at top left, black, transparent);
}

.carousel {
  position: relative;
  width: 100%;
  height: 40vw;
  cursor: -webkit-grab;
  cursor: grab;
  padding-left: 50px;
}

.carousel.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.carousel--wrap {
  white-space: nowrap;
}

.carousel--item {
  display: inline-block;
  width: 50vw;
  padding: 3vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel--item a {
  position: relative;
  z-index: 1;
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  text-decoration: none;
}
.carousel--item a img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  transform-origin: center;
}
.carousel--item h2 {
  position: absolute;
  z-index: 1;
  bottom: 1.8vw;
  font-size: 6vw;
  bottom: 1vw;
  color: #fff;
  transform: translateX(-2vw);
}
.carousel--progress {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  bottom: 5vw;
  width: 20vw;
  left: 3vw;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.carousel--progress-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  transform: scaleX(0);
  transform-origin: 0% 0%;
}

#afficheProjet {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding: 50px 50px;
  padding-top: 75px;
}

#afficheProjet #closeAfficheProjet {
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 0;
  transition: all 0.3s ease;
}

#afficheProjet #closeAfficheProjet svg {
  fill: #fff;
  transition: all 0.3s ease;
}

#afficheProjet #closeAfficheProjet:hover {
  color: #aaaaaa;
  transition: all 0.3s ease;
}

#afficheProjet #closeAfficheProjet:hover svg {
  fill: #aaaaaa;
  transition: all 0.3s ease;
}

#afficheProjet .affiche-projet-containers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  margin-top: 50px;
}

#afficheProjet .affiche-projet-containers .affiche-projet-left img{
  width: 55vw;
  height: 30vw;
  object-fit: cover;
}

#afficheProjet .affiche-projet-containers .affiche-projet-right{
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

#afficheProjet .affiche-projet-containers .affiche-projet-right h2{
  margin: 0;
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

#afficheProjet .affiche-projet-containers .affiche-projet-right .affiche-projet-lien{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

#afficheProjet .affiche-projet-containers .affiche-projet-right .affiche-projet-lien a{
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer .footer-top {
  height: 600px;
  width: 100%;
  overflow: hidden;
  background-color: #040404;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#040404),
      color-stop(67%, hsla(0, 0%, 100%, 0))
    ),
    url(../assets/images/footer-banner.jpg);
  background-image: linear-gradient(180deg, #040404, hsla(0, 0%, 100%, 0) 67%),
    url(../assets/images/footer-banner.jpg);
  background-position: 0px 0px, 50% 75%;
  background-size: auto, cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 15vw;
  padding-bottom: 0.5vw;
}

footer .footer-top h3 {
  font-size: calc(4rem + 0.5vw);
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  margin: 0;
}

footer .footer-top p {
  font-size: calc(1.1rem + 0.5vw);
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

footer .footer-top a {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

footer .footer-top a:hover {
  background-color: #aaaaaa;
  transition: all 0.2s ease-in-out;
}

footer .footer-bottom {
  position: relative;
  height: 400px;
  width: 100%;
  background: #040404;
}


.link-hidden {
  display: none !important;
}

.link {
  z-index: 50;
  position: fixed;
  -webkit-user-select: none;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  font: 300 1.55rem/1.4 "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  pointer-events: none;
}

.link__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.link__cloud {
  transform-origin: 50% 50%;
  -webkit-animation: rotate normal infinite 60s linear;
  animation: rotate normal infinite 60s linear;
  fill: #fff;
}
.link__face,
.link__arrow {
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.link:hover .link__face,
.link:hover .link__arrow {
  transform: scale(1.1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.link__arrow {
  stroke-width: 0.075em;
}
.link__text {
  -webkit-animation: rotateReverse normal infinite 20s linear;
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}
.link--alt:hover .link__text {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.link--alt {
  font-size: 1.15rem;
  letter-spacing: 0;
  word-spacing: 0;
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}
