*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "MessinaSans Bold";
  src: url("./fonts/MessinaSans-Bold.woff2") format("woff2"),
    url("./fonts/MessinaSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans Regular";
  src: url("./fonts/MessinaSans-Regular.woff2") format("woff2"),
    url("./fonts/MessinaSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans Light";
  src: url("./fonts/MessinaSans-Light.woff2") format("woff2"),
    url("./fonts/MessinaSans-Light.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans LightItalic";
  src: url("./fonts/MessinaSans-LightItalic.woff2") format("woff2"),
    url("./fonts/MessinaSans-LightItalic.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "MessinaSans Regular";
  color: #212121;
  background: #fff;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 100px none #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body:before {
  z-index: 2;
  animation: grain 8s steps(10) infinite;
  background-image: url(../assests/image/noise.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: .5;
  position: fixed;
  top: -100%;
  width: 300%;
  pointer-events: none;
}

@keyframes grain {

  0%,
  to {
    transform: translate(0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(7%, -25%)
  }

  40% {
    transform: translate(-5%, 25%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%)
  }

  70% {
    transform: translateY(15%)
  }

  80% {
    transform: translate(3%, 35%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}

nav {
  top: 0;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  font-size: 1.1rem;
  font-weight: 200;
  animation: fadeInDown 1.5s ease-in-out;
}

.navbar-scrolled {
  background-color: #ffffffb0;
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li {
  -webkit-user-select: none;
  cursor: pointer;
}

nav ul li:active {
  transform: scale(0.9);
}

nav .mid {
  gap: 50px;
}

nav .left {
  max-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .left h2 {
  font-size: 2rem;
  font-weight: 200;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #ccc, 0 4px 0 #ccc,
    0 20px 30px rgba(0, 0, 0, 0.5);
}

nav .left h2 span {
  margin-left: 1px;
  font-size: 1.2rem;
}

nav .right li {
  border-radius: 5px;
  padding: 5px 25px;
  padding-bottom: 8px;
  border: solid 2px #212121;
  color: #212121;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-name {
  position: fixed;
  top: 46%;
  transform: translate(0, -46%);
  left: -105px;
  transform: rotate(90deg);
  -webkit-user-select: none;
  font-size: 3vh;
  animation: fadeIn 2s ease-in-out;
  text-transform: uppercase;
  width: auto;
  height: auto;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 5%;
}

header video {
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -50%);
  width: 70%;
  animation: fadeIn 2s ease-in-out;
  filter: blur(2px);
}

header #text-header {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-10%, -20%);
  -webkit-user-select: none;
  z-index: 2;
  font-size: 8vw;
  animation: fadeIn 2s ease-in-out;
  text-transform: uppercase;
  -webkit-text-stroke: 0.1px #212121;
  color: transparent;
}

header #text-header::after {
  z-index: 1;
  font-size: 7vw;
  position: absolute;
  bottom: -8vh;
  left: 2px;
  content: "DEVELOPPEUR";
  color: #212121;
  text-shadow: none;
  white-space: nowrap;
  pointer-events: none;
}

header #text-header span {
  animation: fadeIn 1s ease-in-out;
}

.ath {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
  padding-top: 132px;
  padding-bottom: 15px;
}

.ath .container-text {
  -webkit-user-select: none;
  transform: rotate(90deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.ath .container-trait {
  transform: rotate(90deg);
}

.ath .trait {
  width: 200px;
  height: 4px;
  background: #212121;
  animation: fadeIn 1s ease-in-out;
}

.reseaux {
  position: fixed;
  bottom: 0;
  left: 0;
}

.reseaux ul {
  list-style: none;
  padding: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.reseaux ul li {
  cursor: pointer;
}

.reseaux ul li:active {
  transform: scale(0.9);
}

.reseaux ul svg {
  width: 25px;
  height: 25px;
}

.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 5%;
}

main {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.roadmap-auto {
  max-width: 950px;
  margin: 0 auto;
}

.roadmap-container .roadmap-h2 {
  background-size: 250px 3px;
  color: #ffffff;
  z-index: 1;
  font-family: "Stag Sans Round", sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 6px;
  text-align: center;
}

.roadmap-container .roadmap-timeline {
  padding-top: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.roadmap-container .timeline-dot {
  position: absolute;
  left: 50%;
  z-index: 3;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border: 2px solid #1BACB3;
  border-radius: 6px;
  background-color: #1BACB3;
}

.roadmap-container .timeline-list {
  float: left;
  width: 100%;
  position: relative;
}

.roadmap-container .timeline-list .timeline-list-col {
  float: left;
  width: 50%;
  padding-top: 50px;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  z-index: 3;
}

.roadmap-container .timeline-list .timeline-item-block {
  width: 350px;
  margin-bottom: 50px;
  float: left;
  text-align: left;
}

.roadmap-container .timeline-list .timeline-item-block17q4 {
  margin-top: 50px;
}

.roadmap-container .timeline-list .timeline-item-block18q2 {
  margin-top: 50px;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-time {
  position: relative;
  width: 320px;
  min-height: 36px;
  border-bottom: 0 solid #1BACB3;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-label {
  float: left;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: #222;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-content {
  position: relative;
  left: 0;
  width: 280px;
  margin-top: 0;
  margin-right: 40px;
  float: left;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  color: #555;
  font-weight: 400;
  text-transform: none;
  border: 1px solid #ddd;
  border-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-content p {
  background: 0 2px no-repeat;
  margin-bottom: 10px;
  background-size: 16px 16px;
  padding-left: 24px;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-content p.no-bullet {
  background: none;
  padding-left: 0;
}

.roadmap-container .timeline-list .timeline-col-right {
  padding-top: 150px;
}

.roadmap-container .timeline-list .timeline-col-right .timeline-item-block {
  float: right;
}

.roadmap-container .timeline-list .timeline-col-right .timeline-item-label {
  float: right;
  text-align: right;
}

.roadmap-container .timeline-list .timeline-col-right .timeline-item-content {
  text-align: left;
  margin-left: 0px;
  margin-right: 0;
}

.roadmap-container .timeline-list .timeline-list-vr {
  width: 0;
  height: 100%;
  border-left: 1px solid #1BACB3;
  border-right: 1px solid #1BACB3;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  z-index: 2l
}

.roadmap-container .timeline-list .timeline-item-label-hr {
  float: left;
  width: 475px;
  height: 3px;
  background-color: #555;
  position: relative;
}

.roadmap-container .timeline-list .timeline-item-block .item-dot {
  left: auto;
  right: 0;
  bottom: -3px;
  margin-right: -4px;
  margin-left: 0;
}

.roadmap-container .timeline-list .timeline-col-right .item-dot {
  left: 0;
  right: auto;
  margin-right: 0;
  margin-left: -4px;
}

.roadmap-container .timeline-list .timeline-col-right .timeline-item-label-hr {
  margin-left: -125px;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-label2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  padding: 7px 10px 6px 10px;
}

.roadmap-container .timeline-list .timeline-item-block-green .timeline-item-label2 {
  background-color: #78BE20;
}

.roadmap-container .timeline-list .timeline-item-block-green .timeline-item-label-hr {
  background-color: #78BE20;
}

.roadmap-container .timeline-list .timeline-item-block-green .item-dot {
  background-color: #78BE20;
  border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-green2 .timeline-item-label2 {
  background-color: #26A3AA;
}

.roadmap-container .timeline-list .timeline-item-block-green2 .timeline-item-label-hr {
  background-color: #26A3AA;
}

.roadmap-container .timeline-list .timeline-item-block-green2 .item-dot {
  background-color: #26A3AA;
  border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-blue .timeline-item-label2 {
  background-color: #159CDF;
}

.roadmap-container .timeline-list .timeline-item-block-blue .timeline-item-label-hr {
  background-color: #159CDF;
}

.roadmap-container .timeline-list .timeline-item-block-blue .item-dot {
  background-color: #159CDF;
  border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-blue2 .timeline-item-label2 {
  background-color: #00507F;
}

.roadmap-container .timeline-list .timeline-item-block-blue2 .timeline-item-label-hr {
  background-color: #00507F;
}

.roadmap-container .timeline-list .timeline-item-block-blue2 .item-dot {
  background-color: #00507F;
  border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-violet .timeline-item-label2 {
  background-color: #890C58;
}

.roadmap-container .timeline-list .timeline-item-block-violet .timeline-item-label-hr {
  background-color: #890C58;
}

.roadmap-container .timeline-list .timeline-item-block-violet .item-dot {
  background-color: #890C58;
  border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-mobile {
  display: none;
}




@media screen and (max-width:1061px) {

  .roadmap-container {
    padding: 22px 0;
  }

  .spacer-block {
    margin-bottom: 0;
  }

  .roadmap-container .roadmap-h2 {
    font-size: 25px;
    line-height: 30px;
    background-size: 150px 3px;
  }

  .roadmap-container .timeline-list .timeline-list-vr {
    left: 20px;
  }

  .roadmap-container .timeline-dot {
    left: 9.4vw;
    display: none;
  }

  .roadmap-container .timeline-item-label-hr .timeline-dot {
    display: block;
  }

  .roadmap-container .roadmap-timeline {
    padding-top: 0;
  }

  .roadmap-container .timeline-list .timeline-list-col {
    float: none;
    width: auto;
    margin-left: 25px;
    padding-left: 25px;
    margin-right: 25px;
  }

  .roadmap-container .timeline-list .timeline-item-block-mobile {
    display: block;
  }

  .roadmap-container .timeline-list .timeline-item-block .timeline-item-time {
    width: auto;
  }

  .roadmap-container .timeline-list .timeline-item-label-hr {
    float: none;
    width: auto;
    margin-left: -30px;
  }

  .roadmap-container .timeline-list .timeline-item-block .timeline-item-label {
    float: none;
  }

  .roadmap-container .timeline-list .timeline-item-block .item-dot {
    left: 0;
    right: auto;
    margin-left: -4px;
    margin-right: 0;
  }

  .roadmap-container .timeline-list .timeline-item-block .timeline-item-label2 {
    width: auto;
  }

  .roadmap-container .timeline-list .timeline-item-block .timeline-item-content {
    float: none;
    width: auto;
    margin-right: 0;
  }

  .roadmap-container .timeline-list .timeline-col-right {
    display: none;
  }

  .roadmap-container .timeline-list .timeline-item-block {
    float: none;
    width: auto;
  }

}

#logoLoader {
  opacity: 0.95;
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 1.5s ease-in-out forwards 4.5s;
}

#logoLoader path:nth-child(1) {
  stroke-dasharray: 553.90;
  stroke-dashoffset: 553.90;
  animation: line-anim 1.5s ease forwards;
}

#logoLoader path:nth-child(2) {
  stroke-dasharray: 449.48553466796875;
  stroke-dashoffset: 449.48553466796875;
  animation: line-anim 1.5s ease forwards;
}

#logoLoader path:nth-child(3) {
  stroke-dasharray: 428.0872802734375;
  stroke-dashoffset: 428.0872802734375;
  animation: line-anim 1.5s ease forwards 0.5s;

}

#logoLoader path:nth-child(4) {
  stroke-dasharray: 449.48358154296875;
  stroke-dashoffset: 449.48358154296875;
  animation: line-anim 1.5s ease forwards 1s;
}

#logoLoader path:nth-child(5) {
  stroke-dasharray: 288.0243225097656;
  stroke-dashoffset: 288.0243225097656;
  animation: line-anim 1.5s ease forwards 1.5s;
}

#logoLoader path:nth-child(6) {
  stroke-dasharray: 548.3399047851562;
  stroke-dashoffset: 548.3399047851562;
  animation: line-anim 1.5s ease forwards 2s;
}

#logoLoader path:nth-child(7) {
  stroke-dasharray: 435.76483154296875;
  stroke-dashoffset: 435.76483154296875;
  animation: line-anim 1.5s ease forwards 2.5s;
}

#logoLoader path:nth-child(8) {
  stroke-dasharray: 435.7651062011719;
  stroke-dashoffset: 435.7651062011719;
  animation: line-anim 1.5s ease forwards 3s;
}

#logoLoader path:nth-child(9) {
  stroke-dasharray: 449.48565673828125;
  stroke-dashoffset: 449.48565673828125;
  animation: line-anim 1.5s ease forwards 3.5s;
}

#logoLoader path:nth-child(10) {
  stroke-dasharray: 468.9652099609375;
  stroke-dashoffset: 468.9652099609375;
  animation: line-anim 1.5s ease forwards 4s;
}

#logoLoader path:nth-child(11) {
  stroke-dasharray: 532.0357666015625;
  stroke-dashoffset: 532.0357666015625;
  animation: line-anim 1.5s ease forwards 4.5s;
}

#logoLoader path:nth-child(12) {
  stroke-dasharray: 373.0773620605469;
  stroke-dashoffset: 373.0773620605469;
  animation: line-anim 1.5s ease forwards;
}

#logoLoader path:nth-child(13) {
  stroke-dasharray: 468.96478271484375;
  stroke-dashoffset: 468.96478271484375;
  animation: line-anim 1.5s ease forwards 0.5s;
}

#logoLoader path:nth-child(14) {
  stroke-dasharray: 288.02398681640625;
  stroke-dashoffset: 288.02398681640625;
  animation: line-anim 1.5s ease forwards 1s;
}

#logoLoader path:nth-child(15) {
  stroke-dasharray: 288.0239562988281;
  stroke-dashoffset: 288.0239562988281;
  animation: line-anim 1.5s ease forwards 1.5s;
}

#logoLoader path:nth-child(16) {
  stroke-dasharray: 132.76400756835938;
  stroke-dashoffset: 132.76400756835938;
  animation: line-anim 1.5s ease forwards 2s;
}

#logoLoader path:nth-child(17) {
  stroke-dasharray: 478.4776916503906;
  stroke-dashoffset: 478.4776916503906;
  animation: line-anim 1.5s ease forwards 2.5s;
}

#logoLoader path:nth-child(18) {
  stroke-dasharray: 326.2280578613281;
  stroke-dashoffset: 326.2280578613281;
  animation: line-anim 1.5s ease forwards 3s;
}

#logoLoader path:nth-child(19) {
  stroke-dasharray: 475.1235656738281;
  stroke-dashoffset: 475.1235656738281;
  animation: line-anim 1.5s ease forwards 3.5s;
}

#logoLoader path:nth-child(20) {
  stroke-dasharray: 492.6677551269531;
  stroke-dashoffset: 492.6677551269531;
  animation: line-anim 1.5s ease forwards 4s;
}

#logoLoader path:nth-child(21) {
  stroke-dasharray: 496.4945373535156;
  stroke-dashoffset: 496.4945373535156;
  animation: line-anim 1.5s ease forwards 4.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: initial;
  }
}


.loader {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: calc(100vh + 200px);
  margin-top: -200px;
  background-color: #dadada;
  -webkit-user-select: none;
  border: none;
  filter: blur(5px);
  transform: scale(1.1);
}

.loader .text {
  opacity: 0.5;
  position: relative;
  transform: skewY(345deg) translateY(-200px);
  animation: animateColor 5s linear infinite;
}

@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.loader .text h2 {
  position: relative;
  width: 100%;
  font-size: 6rem;
  color: #212121;
  pointer-events: none;
  line-height: 0.6em;
  white-space: nowrap;
  text-shadow: calc(var(--x)) -30px 0 #21212136;
  transform: translateX(calc(0% - var(--x) * var(--i)));
}

.loader .text h2 span {
  margin: 0 10px;
}

.loader .text h2 span:nth-child(even) {
  color: transparent;
  -webkit-text-stroke: 1px #212121;
}